# Core app
streamlit>=1.33,<2
pandas>=2.1
numpy>=1.26
altair>=5
folium>=0.15
pydeck>=0.8
pyarrow>=15
streamlit-option-menu==0.3.6

# Database
SQLAlchemy>=2.0,<3
PyMySQL>=1.1
python-dotenv>=1.0  # opsional, kalau pakai .env lokal
